

.box{

   
    animation: move 6s  infinite ease-in-out;
}

#box1{
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    display: none;


}

#box2{
    width: 100px;
    height: 100px;
    background: blue;
    position: absolute;
    right: 50px;
    display: none;

}

#box3{
    width: 100px;
    height: 100px;
    background: green;
    position: absolute;
    left: 150px;

    display: none;

}


@keyframes move {
    from {top: 0px;}
    to {top: 200px;}
  }